@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
    font-family: Roboto;

}

body {
    margin: 0px;
    color: white;
}

.bg {
    display: flex;
    flex-direction: column;
}

.img-bg {
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/design-section-sm-bg.png');
    background-size: cover;
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #12022f;
    height: 100vh;
    padding: 15px;
}

.card {
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;

}

.card-ctn {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 21px;
}

.ctn-text h2 {
    color: #12022f;
    margin: 0;
    font-size: 25px;
}

.ctn-text p {
    color: #7b8794;
}


@media screen and (min-width: 768px) {
    .img-bg {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/design-section-lg-bg.png');
        background-size: cover;
        height: 100vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        background-color: #12022f;
        width: 100vw;
        padding: 15px;
    }

    .bg {
        flex-direction: row;
    }

    .ctn-text h2 {
        font-size: 30px;
    }
}